---
layout: default
---

<div class="row">
  <div class="col-sm-8 blog-main">
    {% for post in paginator.posts %}
      <div class="blog-post">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2 class="post-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="blog-post-content">
        {{ post.content }}
      </div>
      </div><!-- /.blog-post -->
    {% endfor %}
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination btn-group btn-group-justified">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a class="btn btn-primary" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
        <a class="btn btn-primary" href="/{{ paginator.previous_page }}">&laquo; Prev</a>
        {% endif %}
      {% else %}
        <span class="btn btn-primary disabled">&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="btn btn-default active">{{ page }}</span>
        {% elsif page == 1 %}
          <a class="btn btn-default" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a class="btn btn-default" href="/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a class="btn btn-primary" href="/{{ paginator.next_page }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </div><!-- /.blog-main -->
  {% include sidebar.html %}
</div><!-- /.row -->
