<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ site.url }}" class="navbar-brand">BGSA</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="whats-up">What's Happening <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="{{ "/meetings/" | prepend: site.baseurl }}">Meetings</a></li>
            <li><a href="{{ "/pages/calendar/" | prepend: site.baseurl }}">Calendar</a></li>
            <li><a href="{{ "/discussion/" | prepend: site.baseurl }}">Discussion Groups</a></li>
            <li><a href="http://biology.mcgill.ca/sem_events.html">McGill Biology Seminars</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ "/grants/" | prepend: site.baseurl }}">Grants</a>
        </li>
        <li>
          <a href="{{ "/helpful-links/" | prepend: site.baseurl }}">Helpful Links</a>
        </li>
        <li>
          <a href="#">Photos</a>
        </li>
        <li>
          <a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="container blog-header">
<div class="blog-header-content">
    <h1 class="lead">The McGill Biology Graduate Student Association Blog</h1>
    <p class="credits">Credits: Isabelle Fernandes-Aguiar</p>
</div>
</div>
